body{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 16vw);
    justify-items: center;
    align-items: center;
}

img {
    width: 16vw;
    height: 16vw;
    object-fit: contain;
}