@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    --font: "Poppins", sans-serif;

    --base-size: 16px;
    --gutter-size: calc(1.5*var(--base-size));
    --small-gutter-size: calc(1*var(--base-size));

    --color--background: #FEFAF0;
    --color--red: #DF6F62;
    --color--darkgreen: #2F582C;

    --color-main: #CDAD79;
    --color-meat: #E65C50;
    --color-vegetable: #678052;
    --color-fruit: #0F6BB3;
    --color-toppings: #ECB943;

    --img-size: 18vw;
}

@media (min-width:768px){
	:root{
		--base-size: 16px;
		--gutter-size: calc(3*var(--base-size));
        --img-size: 14vw;
	}
}

#headerImage{
    width: 80vw;
    height: auto;
}

header p{
    size: calc(1.5*var(--base-size));
    text-align: center;
}

/* grid review: https://css-tricks.com/snippets/css/complete-guide-grid/ */

#headerToast{
    scale: 1.5;
    filter: opacity(0.5);
    transform: rotate(-30deg) translateX(-20vw) translateY(5vh);
    z-index: 0;
    position: relative;
    width: 30vw;
    height: 30vw;
}

#headerBacon{
    scale: 1.8;
    filter: opacity(0.5);
    transform: rotate(15deg) translateX(20vw) translateY(15vh);
    z-index: 0;
    position: relative;
    width: 30vw;
    height: 30vw;
}

#mobileimage {
    position: absolute;
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
    left: 0px;
    z-index: -5;
}

header{
    grid-area: header;
    height: 100vh;
    text-align: center;
}

body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100vh 25vh auto;
    grid-template-areas: 
        "header"
        "main2"
        "main1"
    ;
    background-color: var(--color--background);
    font-family: var(--font);
    font-size: var(--base-size);
    font-weight: 300;
    color: var(--color--darkgreen);
}

header, #main1{
    margin: var(--gutter-size);
}

#main1{
    grid-area: main1;
    margin-top: calc(1.5*var(--gutter-size));
    z-index: 0;
}

#main2-frame{
    position: sticky;
    top: 0px;
    grid-area: main2;
    width: 100%;
    height: 100%;
    padding: var(--small-gutter-size);
    background-color: var(--color--background);
    margin: 0px;
}

#main2{
    background-color: var(--color--background);
    border: 1px solid var(--color--red);
    overflow: scroll;
    border-radius: 20px;
    padding: var(--small-gutter-size);
    z-index: 5;
    height: 100%;
    position: relative;
}

/* expanded */
/* expanded */
/* expanded */

#main2.expanded{
    height: 97vh;
    z-index: 5;
}

#main2.expanded img{
    width: calc(1.5*var(--img-size));
    height: calc(1.5*var(--img-size));
}

/* found that I don't need to change the arrow direction by javascript hhhh */
#main2.expanded button{
    transform: rotate(90deg);
}

#main2.expanded #selected-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* form style */

form{
    margin-top: var(--small-gutter-size);
    margin-bottom: calc(2*var(--gutter-size));
    display: flex;
    flex-direction: column;
    gap: var(--small-gutter-size);
}

fieldset{
    background-color: rgba(255, 255, 255, 0.57);
    border: 1px solid var(--color--red);
    padding: var(--small-gutter-size);
    border-radius: var(--base-size);
}

fieldset div{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}


legend{
    font-family: var(--font);
    color: var(--color--red);
    font-weight:500;
    font-size: calc(1.6*var(--base-size));
}

input[type="checkbox"] {
    appearance: auto;
    width: 20px;
    height: 20px;
    border-radius: 1px;
    margin-inline: calc(1*var(--small-gutter-size));
}


#selected-images {
    display: flex;
    justify-items: center;
    gap: var(--small-gutter-size);
    margin-top: var(--small-gutter-size);   
}

img {
    width: var(--img-size);
    height: var(--img-size);
    object-fit: contain;
}

#start-button{
    display: block;
    background-color: var(--color--red);
    color: white;
    width: 100%;
    padding: var(--small-gutter-size);
    border-radius: calc(2*var(--gutter-size));
    position: sticky;
    margin-top: calc(9*var(--gutter-size));
    z-index: 10;
}

#pairing-button{
    background-color: var(--color--red);
    color: white;
    width: 100%;
    padding: var(--small-gutter-size);
    border-radius: calc(2*var(--gutter-size));
    /* position: sticky;
    bottom: calc(3.6*var(--gutter-size)); */
    /* margin-top: var(--small-gutter-size); */
    text-align: center;
    font-weight: 400;
}

#reset-button{
    background-color: var(--color--background);
    color: var(--color--red);
    width: 50%;
    padding: var(--small-gutter-size);
    border: 1px solid var(--color--red);
    border-radius: calc(2*var(--gutter-size));
    text-align: center;
}

#formbutton{
    display: flex;
    position: sticky;
    bottom: var(--small-gutter-size);
    z-index: 2;
    gap: calc(0.3*var(--small-gutter-size));
    margin: calc(-1 * var(--small-gutter-size));
}

#main2-header{
    display: flex;
    gap: var(--small-gutter-size);
}



/* results */
#result_texts{
    display: none;
    font-size: calc(2*var(--base-size));
    font-weight: 500;
    position: relative;
    margin-top: var(--gutter-size);
}

#result_texts.showresult{
    display:block;
}

#result_calories{
    display: none;
    text-align: center;
    font-size: calc(2*var(--base-size));
    font-weight: 500;
    position: absolute;
    right: calc(2*var(--gutter-size));
    bottom: var(--small-gutter-size);
    justify-content: center;
}

#result_calories.showresult{
    display: flex;
    align-items: center;
    gap: calc(-3*var(--gutter-size));
    margin: auto;
    justify-content: center;
}

#result{
    font-size: calc(1.5*var(--base-size));
    color: var(--color--red);
    border: 1.5px solid var(--color--red);
    border-radius: calc(2*var(--gutter-size));
    padding-block:  calc(0.5*var(--small-gutter-size));
    padding-inline:var(--gutter-size);
}

#main{
    color: var(--color-main);
}
#meat{
    color: var(--color-meat);
}
#vegetable{
    color: var(--color-vegetable);
}
#fruit{
    color: var(--color-fruit);
}
#toppings{
    color: var(--color-toppings);
}




/* desktop */
/* desktop */
/* desktop */

@media (min-width: 768px){

    #headerToast, #headerBacon{
        display: none;
    }

    #headerImage{
        margin-top: calc(-1*var(--small-gutter-size));
    }

    header{
        height: auto;
        text-align: left;
    }

    header p{
        text-align: left;
        margin-top: calc((-1*var(--small-gutter-size)));
        margin-bottom: calc((1*var(--small-gutter-size)));
        margin-left: calc((1*var(--small-gutter-size)));
    }

    #main1{
        height: auto;
        margin-top: var(--small-gutter-size);
        z-index: 1;
    }


    #main2{
        position: sticky;
        top: var(--small-gutter-size);
        margin-right: var(--small-gutter-size);
        margin-left: var(--gutter-size);
        max-height: 95vh;
        padding: var(--gutter-size);
    }

    header, #main1{
        margin: 0px;
    }
    
    body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr;
        grid-template-areas: 
            "header main2 main2 main2"
            "main1 main2 main2 main2"
        ;
        margin: var(--gutter-size);
        margin-top: var(--small-gutter-size);
    }

    form{
        margin-bottom: calc(1.2*var(--gutter-size));;
    }

    #selected-images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    #main2.expanded #selected-images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    img {
        width: var(--img-size);
        height: var(--img-size);
        object-fit: contain;
    }

    #main2.expanded img{
        width: var(--img-size);
        height: var(--img-size);
    }

    #start-button{
        display: none;
    }

    #pairing-button{
        font-size: calc(1.2*var(--base-size));
    }

    #reset-button{
        font-size: calc(1.2*var(--base-size));
    }

    /* #pairing-button{
        position: fixed;
        right: var(--gutter-size);
        bottom: var(--gutter-size);
        width: 400px;
        z-index: 2;
        text-align: center;
       
    }

    #reset-button{
        position: fixed;
        right: calc(9.5*var(--gutter-size));
        bottom: var(--gutter-size);
        width: 200px;
        z-index: 2;
        text-align: center;
    } */

    #expand-main2{
        display: none;
    }

    #mobileimage{
        display: none;
    }

    #result{
        font-size: calc(2*var(--base-size));
        border-radius: var(--gutter-size);
        padding-block: calc(0.5*var(--small-gutter-size));
        padding-inline:calc(0.8*var(--gutter-size));
    }


    #result_calories{
        font-size: calc(1.5*var(--base-size));
        right: calc(1.5*var(--gutter-size));
        bottom:0px;
    }

    #result_calories.showresult{
        display: flex;
        align-items: center;
        gap: calc(-3*var(--gutter-size));
        margin: auto;
    }

}